@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Oriya:wght@400..700&family=Playwrite+AU+SA:wght@100..400&family=Poppins&family=Potta+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour&display=swap');
* {
  font-family: "Roboto", serif;
}

.custom-text {
  background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.extraFont {
  font-family: "Sixtyfour", serif;
}
